.wrapper {
  display: flex;
  gap: 10px;
}

.button {
  flex-grow: 1;
  border: none;
  background-color: blueviolet;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease-in 0.1s;
  position: relative;
}
.button:hover {
  background-color: brown;
}
.button:active {
  top: 1px;
}
